In [29]:
import pandas as pd 
import yfinance as yf
import os
import datetime as dt

In [14]:
csv_files = [f for f in os.listdir('./data') if f.endswith('.csv')]
df_list = [pd.read_csv(os.path.join("./data", file)) for file in csv_files]
final_df = pd.concat(df_list, ignore_index=True)
final_df.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (₹ Cr)
0,15-MAR-2019,9473.85,9540.95,9471.40,9499.40,1.861142e+09,45646.05
1,18-MAR-2019,9536.05,9572.95,9481.65,9516.70,1.413548e+09,31362.44
2,19-MAR-2019,9549.75,9576.05,9513.45,9570.15,1.553819e+09,32443.88
3,20-MAR-2019,9587.50,9588.50,9540.90,9553.00,1.519216e+09,34165.49
4,22-MAR-2019,9572.35,9594.10,9485.45,9500.05,1.566060e+09,34280.42

In [15]:
final_df.to_csv('final_df.csv', index=False)

In [21]:
final_df.columns

Index(['Date ', 'Open ', 'High ', 'Low ', 'Close ', 'Shares Traded ',
       'Turnover (₹ Cr)'],
      dtype='object')

In [23]:
final_df['NextDay'] = final_df['Close '].shift(-1)
final_df.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (₹ Cr),NextDay
0,15-MAR-2019,9473.85,9540.95,9471.40,9499.40,1.861142e+09,45646.05,9516.70
1,18-MAR-2019,9536.05,9572.95,9481.65,9516.70,1.413548e+09,31362.44,9570.15
2,19-MAR-2019,9549.75,9576.05,9513.45,9570.15,1.553819e+09,32443.88,9553.00
3,20-MAR-2019,9587.50,9588.50,9540.90,9553.00,1.519216e+09,34165.49,9500.05
4,22-MAR-2019,9572.35,9594.10,9485.45,9500.05,1.566060e+09,34280.42,9411.65

In [ ]:
final_df = final_df.drop(columns=['Shares Traded ', 'Turnover (₹ Cr)'], axis=1)

KeyError: "['Shares Traded ', 'Turnover (₹ Cr)'] not found in axis"

In [26]:
final_df.head()

         Date     Open     High      Low    Close   NextDay
0  15-MAR-2019  9473.85  9540.95  9471.40  9499.40  9516.70
1  18-MAR-2019  9536.05  9572.95  9481.65  9516.70  9570.15
2  19-MAR-2019  9549.75  9576.05  9513.45  9570.15  9553.00
3  20-MAR-2019  9587.50  9588.50  9540.90  9553.00  9500.05
4  22-MAR-2019  9572.35  9594.10  9485.45  9500.05  9411.65

In [28]:
final_df['Date '] = pd.to_datetime(final_df['Date '])
final_df.head()

C:\Users\Vidya H Mehta\AppData\Local\Temp\ipykernel_6624\1372711555.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  final_df['Date '] = pd.to_datetime(final_df['Date '])

       Date     Open     High      Low    Close   NextDay
0 2019-03-15  9473.85  9540.95  9471.40  9499.40  9516.70
1 2019-03-18  9536.05  9572.95  9481.65  9516.70  9570.15
2 2019-03-19  9549.75  9576.05  9513.45  9570.15  9553.00
3 2019-03-20  9587.50  9588.50  9540.90  9553.00  9500.05
4 2019-03-22  9572.35  9594.10  9485.45  9500.05  9411.65

In [ ]:
final_df['Year'] = final_df['Date '].dt.year
final_df['Month'] = final_df['Date '].dt.month
final_df['Day'] = final_df['Date '].dt.day
final_df.drop(columns=['Date '], axis=1, inplace=True)
final_df.head()

     Open     High      Low    Close   NextDay  Year  Month  Day
0  9473.85  9540.95  9471.40  9499.40  9516.70  2019      3   15
1  9536.05  9572.95  9481.65  9516.70  9570.15  2019      3   18
2  9549.75  9576.05  9513.45  9570.15  9553.00  2019      3   19
3  9587.50  9588.50  9540.90  9553.00  9500.05  2019      3   20
4  9572.35  9594.10  9485.45  9500.05  9411.65  2019      3   22

In [34]:
final_df.tail()

         Open      High       Low     Close    NextDay  Year  Month  Day
1487  20428.15  20549.20  20377.60  20443.40  20266.50  2025      3    7
1488  20434.95  20543.70  20230.65  20266.50  20302.50  2025      3   10
1489  20122.55  20333.75  20073.40  20302.50  20264.35  2025      3   11
1490  20351.90  20397.95  20108.70  20264.35  20176.05  2025      3   12
1491  20337.85  20357.30  20157.50  20176.05       NaN  2025      3   13

In [36]:
final_df.tail()
data = yf.download("^CRSLDX", start="2025-03-14", end="2025-03-15")
data = pd.DataFrame(data)
data.head()

[*********************100%***********************]  1 of 1 completed

Price              Close          High      Low          Open  Volume
Ticker           ^CRSLDX       ^CRSLDX  ^CRSLDX       ^CRSLDX ^CRSLDX
Date
2025-03-13  20176.050781  20357.300781  20157.5  20337.849609       0

In [37]:
final_df['NextDay'].fillna(20176.050781, inplace=True)

C:\Users\Vidya H Mehta\AppData\Local\Temp\ipykernel_6624\3821296564.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['NextDay'].fillna(20176.050781, inplace=True)